<Section title="Experiencia laboral">
  <h1>Experiencia laboral</h1>
  <ul>
    @for (work of works; track work.name) {
    <li>
      <article>
        <header>
          <div>
            <h3>
              <a
                href="{{ work.url }}"
                title="Ver {{ work.name }}"
                target="_blank"
              >
                {{ work.name }}
              </a>
            </h3>
            <h4>{{ work.position }}</h4>
          </div>

          <div>
            <time datetime="startDate" data-title="startDate">
              {{ work.startDate | date : "yyyy" }}
            </time>
            -
            <time datetime="endDate" data-title="endDate">
              @if(work.endDate){
              {{ work.endDate | date : "yyyy" }}
              } @else { Actual }
            </time>
          </div>
        </header>

        <footer>
          <p>{{ work.summary }}</p>
        </footer>
      </article>
    </li>
    }
  </ul>
</Section>
