<Section title="Educación">
  <h2 class="section-title">Educación</h2>
  <ul>
    @for (edu of education; track $index) {
    <li>
      <article>
        <header>
          <div>
            <h3>{{ edu.institution }}</h3>
          </div>

          <time>
            {{ edu.startDate | date : "yyyy" }} -
            {{ edu.endDate | date : "yyyy" }}
          </time>
        </header>

        <footer>
          <p>{{ edu.area }}</p>
        </footer>
      </article>
    </li>
    }
  </ul>
</Section>
